@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
 
html {
  scroll-behavior: smooth;
}
html,
body,
#root {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: #050b1d;
}
